---
import Search from "@/components/Search.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { siteConfig, menuLinks } from "@/site.config";
import { Icon } from "astro-icon/components";

---

<header
	id="main-header"
	class="fixed px-4 md:px-0 left-0 z-20 flex items-center m-auto md:relative top-0 h-16 w-full bg-bgColor md:bg-transparent overflow-hidden max-w-[1440px]"
>		
	<div class="w-full justify-between sm:flex-col">
		<div class="flex items-center gap-x-2">
			<a
				aria-label={siteConfig.title}
				aria-current={Astro.url.pathname === "/" ? "page" : false}
				class="group flex h-8 items-center hover:filter-none sm:relative"
				href="/"
			>	
				<!-- Logo -->
				<div title={siteConfig.title} class="">
					<svg class="inline-block size-8 fill-current text-accent-base dark:text-accent-two drop-shadow-[0px_2.5px_2.5px_rgba(0,0,0,0.35)]">
						<use href="/brand.svg#citrus"></use>
					</svg>
				</div>
				
				<strong class="'max-[320px]:hidden' bg-clip-text text-transparent bg-gradient-to-r from-accent-one to-accent-two hidden xs:block z-10 mb-0.5 ms-2 text-xl group-hover:text-accent-one">
					{siteConfig.title}
				</strong>
			</a>
			<nav
				aria-label="Main menu"
				class="top-20 text-sm mx-auto ml-4 ml-auto hidden flex-col items-end justify-center gap-x-4 rounded-md bg-bgColor font-medium text-accent-two shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:flex-row sm:items-center sm:rounded-none sm:bg-transparent sm:shadow-none sm:backdrop-blur-none lg:flex"
				id="main-navigation-menu"
			>	
				<!-- Ссылки меню -->
				<ul class=" md:flex flex-col md:flex-row gap-x-4">	
				{
					menuLinks.map((link) => (						
						<li class={` md:flex flex-col md:flex-row gap-x-4 ${link.subLinks ? ' has-submenu' : ''} `}>							
						<a
							aria-current={Astro.url.pathname === link.path ? "page" : false}
							class="underline-offset-2 hover:underline"
							data-astro-prefetch
							href={link.path}
						>
							{link.title}
							{link.subLinks && (<span class="material-symbols-light--arrow-drop-down"></span>)}
						</a>
						{link.subLinks && (
						<ul class={`sub-menu submenu-level-${link.subLinks ? link.subLinksLevel : ''}`}>
							{link.subLinks.map(subLinks2 => (
							<li class={` md:flex flex-col md:flex-row gap-x-4 ${subLinks2.subLinks ? ' has-submenu' : ''} `}>
								<a 
									aria-current={Astro.url.pathname === link.path ? "page" : false}
									class="underline-offset-2 hover:underline"
									data-astro-prefetch 
									href={subLinks2.path}>
									{subLinks2.title}
									{subLinks2.subLinks && (<span class="material-symbols-light--arrow-drop-down"></span>)}
								</a>
								{subLinks2.subLinks && (
								<ul class={`sub-menu submenu-level-${subLinks2.subLinks ? subLinks2.subLinksLevel : ''}`}>
									{subLinks2.subLinks.map(subLinks3 => (
									<li class={` md:flex flex-col md:flex-row gap-x-4 ${subLinks3.subLinks ? ' has-submenu' : ''} `}>
										<a 
										aria-current={Astro.url.pathname === link.path ? "page" : false}
										class="underline-offset-2 hover:underline"
										data-astro-prefetch 
										href={subLinks3.path}>
											{subLinks3.title}
											{subLinks3.subLinks && (<span class="material-symbols-light--arrow-drop-down"></span>)}
										</a>
										{subLinks3.subLinks && (
										<ul class={`sub-menu submenu-level-${subLinks3.subLinks ? subLinks3.subLinksLevel : ''}`}>
											{subLinks3.subLinks.map(subLinks4 => (
											<li class={` md:flex flex-col md:flex-row gap-x-4 ${subLinks4.subLinks ? ' has-submenu' : ''} `}>
												<a 
												aria-current={Astro.url.pathname === link.path ? "page" : false}
												class="underline-offset-2 hover:underline"
												data-astro-prefetch 
												href={subLinks4.path}>
													{subLinks4.title}
												</a>
											</li>
											))}
										</ul>
										)}
									</li>
									))}
								</ul>
								)}
							</li>
							))}
						</ul>
						)}
					</li>
					))
				}
				</ul>
				
			</nav>
			<div class="ml-auto w-fit">
				<div id="buttons-panel" class="top-4 md:top-8 -ml-[4.5rem] flex space-x-2">
					<Search />
					<!-- <ThemeToggle /> -->
				</div>
			</div>	
			
			<mobile-button
				aria-expanded="false"
				aria-haspopup="menu"
				aria-label="Open main menu"
				class="group relative h-8 w-8 rounded-lg bg-color-100 hover:bg-accent-base/10 text-accent-base lg:invisible lg:hidden"
				id="toggle-nav-menu-mobile"
				type="button"
			>
				<Icon
					id="open-nav-menu-icon"
					aria-hidden="true"
					class="absolute start-1/2 top-1/2 h-6 w-6 -translate-x-1/2 -translate-y-1/2 scale-100 opacity-100 transition-all"
					focusable="false"
					name="hugeicons:menu-01"
				/>
				<Icon
					id="close-nav-menu-icon"
					aria-hidden="true"
					class="absolute start-1/2 top-1/2 h-6 w-6 -translate-x-1/2 -translate-y-1/2 scale-0 opacity-0 transition-all"
					focusable="false"
					name="hugeicons:cancel-01"
				/>
			</mobile-button>
		</div>
	</div>
</header>

<div id="drawer" class="fixed inset-0 z-10 hidden" aria-hidden="true">
	<div
		id="drawer-body"
		class="absolute inset-0 -translate-y-full transform bg-bgColor transition-all duration-300 ease-in-out"
	>			
		<nav
			aria-label="Mobile navigation menu"
			class="text-lg absolute inset-0 flex flex-col items-center justify-center gap-y-4 text-center font-medium text-accent-two"
			id="nav-menu-mobile"
		>
			<ul class=" md:flex flex-col lg:flex-row gap-x-4">
			{
				menuLinks.map((link) => (						
					<li class={` md:flex flex-col lg:flex-row gap-x-4 ${link.subLinks ? ' has-submenu' : ''} `}>							
					<a
						aria-current={Astro.url.pathname === link.path ? "page" : false}
						class="underline-offset-2 hover:underline"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
						{link.subLinks && (<span class="material-symbols-light--arrow-drop-down"></span>)}
					</a>
					{link.subLinks && (
					<ul class={`sub-menu submenu-level-${link.subLinks ? link.subLinksLevel : ''}`}>
						{link.subLinks.map(subLinks2 => (
						<li class={` lg:flex flex-col lg:flex-row gap-x-4 ${subLinks2.subLinks ? ' has-submenu' : ''} `}>
							<a 
							aria-current={Astro.url.pathname === link.path ? "page" : false}
							class="underline-offset-2 hover:underline"
							data-astro-prefetch 
							href={subLinks2.path}>
								{subLinks2.title}
								{subLinks2.subLinks && (<span class="material-symbols-light--arrow-drop-down"></span>)}
							</a>
							{subLinks2.subLinks && (
							<ul class={`sub-menu submenu-level-${subLinks2.subLinks ? subLinks2.subLinksLevel : ''}`}>
								{subLinks2.subLinks.map(subLinks3 => (
								<li class={` lg:flex flex-col lg:flex-row gap-x-4 ${subLinks3.subLinks ? ' has-submenu' : ''} `}>
									<a 
									aria-current={Astro.url.pathname === link.path ? "page" : false}
									class="underline-offset-2 hover:underline"
									data-astro-prefetch 
									href={subLinks3.path}>
										{subLinks3.title}
										{subLinks3.subLinks && (<span class="material-symbols-light--arrow-drop-down"></span>)}
									</a>
									{subLinks3.subLinks && (
									<ul class={`sub-menu submenu-level-${subLinks3.subLinks ? subLinks3.subLinksLevel : ''}`}>
										{subLinks3.subLinks.map(subLinks4 => (
										<li class={` lg:flex flex-col lg:flex-row gap-x-4 ${subLinks4.subLinks ? ' has-submenu' : ''} `}>
											<a 
											aria-current={Astro.url.pathname === link.path ? "page" : false}
											class="underline-offset-2 hover:underline"
											data-astro-prefetch 
											href={subLinks4.path}>
												{subLinks4.title}
												{subLinks4.subLinks && (<span class="material-symbols-light--arrow-drop-down"></span>)}
											</a>
										</li>
										))}
									</ul>
									)}
								</li>
								))}
							</ul>
							)}
						</li>
						))}
					</ul>
					)}
				</li>
				))
			}
			</ul>
			<a
				class="flex h-8 items-center rounded-lg bg-accent-base/5 px-4 text-accent-base underline-offset-2 hover:bg-accent-base/10"
				data-astro-prefetch
				href="/series/citrus-docs"
			>
				Docs
			</a>
		</nav>
	</div>
</div>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const toggleNavMenuMobileButton = document.getElementById("toggle-nav-menu-mobile");
		const openMenuIcon = document.getElementById("open-nav-menu-icon");
		const closeMenuIcon = document.getElementById("close-nav-menu-icon");
		const drawer = document.getElementById("drawer");

		// Проверяем существование элементов
		if (!toggleNavMenuMobileButton || !openMenuIcon || !closeMenuIcon || !drawer) {
			console.error("One or more required elements are missing in the DOM.");
			return;
		}

		const drawerBody = document.getElementById("drawer-body");
		if (!drawerBody) {
			console.error("Drawer body element is missing in the DOM.");
			return;
		}

		toggleNavMenuMobileButton.addEventListener("click", () => {
			const isOpen = toggleNavMenuMobileButton.getAttribute("aria-expanded") === "true";

			if (isOpen) {
				// Закрываем меню
				drawerBody.classList.add("opacity-0", "-translate-y-full");
				drawerBody.classList.remove("translate-y-0");

				// Убираем после анимации
				setTimeout(() => {
					drawer.classList.add("hidden");
				}, 300);

				// Меняем иконки
				openMenuIcon.classList.add("scale-100", "opacity-100");
				closeMenuIcon.classList.add("scale-0", "opacity-0");
				closeMenuIcon.classList.remove("scale-100", "opacity-100");
			} else {
				// Показываем меню
				drawer.classList.remove("hidden");
				drawerBody.classList.add("translate-y-0");
				drawerBody.classList.remove("opacity-0", "-translate-y-full");

				// Меняем иконки
				openMenuIcon.classList.add("scale-0", "opacity-0");
				closeMenuIcon.classList.add("scale-100", "opacity-100");
				openMenuIcon.classList.remove("scale-100", "opacity-100");
			}

			// Обновляем состояние кнопки
			toggleNavMenuMobileButton.setAttribute("aria-expanded", (!isOpen).toString());
		});

		// Select all list items that have the 'has-submenu' class
		const hasSubmenuItems = document.querySelectorAll('.has-submenu');

		hasSubmenuItems.forEach(item => {
			// Find the direct anchor tag child within this 'has-submenu' item
			const anchor = 		item.querySelector('a');
			const anchorspan = 	item.querySelector('a > span');
			if (anchor && anchorspan) {
				
				// Set initial aria-expanded state for accessibility
				anchor.setAttribute('aria-expanded', 'false');
				anchorspan.addEventListener('click', function(event) {
					
					// Prevent the default action of the anchor tag (navigating to href)
					event.preventDefault();
					// Find the next sibling element, which should be the sub-menu (ul)
					const subMenu = anchor.nextElementSibling;
					// Check if the next sibling is indeed a sub-menu
					if (subMenu && subMenu.classList.contains('sub-menu')) {
						// Toggle the 'active-submenu' class to show/hide the sub-menu
						subMenu.classList.toggle('active-submenu');
						// Update aria-expanded state for accessibility
						const isExpanded = subMenu.classList.contains('active-submenu');
						anchor.setAttribute('aria-expanded', isExpanded.toString());
					}
				});
			}
		});
	});
</script>


<style>
	header {
		overflow: unset;
	}
	nav[aria-label="Main menu"] .has-submenu {
		position: relative;
	}
	.material-symbols-light--arrow-drop-down {
		display: inline-block;
		width: 24px;
		height: 24px;
		--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 14.308L8.192 10.5h7.616z'/%3E%3C/svg%3E");
		background-color: currentColor;
		-webkit-mask-image: var(--svg);
		mask-image: var(--svg);
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-size: 100% 100%;
		mask-size: 100% 100%;
		position: relative;
		bottom: -5px;
		margin-top: -10px;
	}
	nav[aria-label="Main menu"] .sub-menu {
		position: absolute;
		top: 110%;
		left: 0;
		z-index: -3;
		/* height: 0;
		visibility: hidden; */
		display: flex;
		flex-direction: column;
		width: 200px;
		overflow: hidden;
        transform: scaleY(0);
        transition: transform .4s;
        transform-origin: top;
	}
	nav[aria-label="Main menu"] .sub-menu.active-submenu {
		/* height: auto;
		visibility: visible; */
		transform: scaleY(1);
        transition-delay: .15s;
	}
</style>
