---
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import { siteConfig } from "@/site.config";
import type { SiteMeta } from "@/types";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title, bodyClass },
} = Astro.props;

---

<html
	class="overflow-x-hidden grid scroll-pt-20 scroll-smooth font-sans text-textColor text-xl md:text-base antialiased"
	lang={siteConfig.lang}
>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	</head>
	<body class={`min-w-4xl relative m-auto min-h-screen w-full grow bg-bgColor ${bodyClass}`} >
		
			<!-- <ThemeProvider /> -->
			<SkipLink />
		
			<div class="relative flex min-h-screen w-full">
				<!-- Sidebar for Docs Series -->
				<slot name="sidebar" />
				<!-- Main container for the page content -->
				<div id="container" class="min-w-3xl relative m-auto grow">
					<div class="m-auto grid min-h-screen md:grid-rows-[auto_auto_1fr]">
						<Header />
						<main id="main" class="relative flex-grow mt-[80px] sm:mt-20 md:mt-0">
							<slot />
						</main>
						<Footer />
					</div>
				</div>
			</div>
		
	</body>
</html>
